@model IEnumerable<FengShui.Models.ProductList>

@{
    ViewBag.Title = "Index";
}


@section Styles
{
    <style type="text/css">
        h1 {
            color: #333333;
            background: #98CECE;
            text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15);
            color: #333333;
            background: #98CECE;
            font-variant: small-caps;
        }

        #tablesJumbotron {
            background: #98CECE;
        }

        h4 {
            font-family: Georgia, serif;
            font-size: 24px;
        }

        p {
            font-family: Georgia,serif;
        }

        body, html {
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background: #98CECE;
            background: -moz-linear-gradient(top, #98CECE 0%, #98CECE 54%, #FFFFFF 100%);
            background: -webkit-linear-gradient(top, #98CECE 0%, #98CECE 54%, #FFFFFF 100%);
            background: linear-gradient(to bottom, #98CECE 0%, #98CECE 54%, #FFFFFF 100%);
        }

        button {
            transition-duration: 0.8s;
        }

            button:hover {
                background-color: transparent;
            }
    </style>
}

<body id="productindexbody">
    <div class="jumbotron" id="tablesJumbotron">
        <div class="container" id="jumbotroncontainer">
            <h1 id="HeaderText" class="text-center">Products</h1>
            <h4 class="text-center">Enter all Products in your Inventory.</h4>
            <p class="text-center">
                @Html.ActionLink("Add new Product", "Create")
            </p>

        </div>
    </div>

    @if (TempData.ContainsKey("SaveResult"))
    {
        <div class="alert alert-success fade in" role="alert">

            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
            @TempData["SaveResult"]
        </div>
    }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brandname)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brandname)
                </td>
                <td>
                    <div id="buttontable" class="btn-group btn-group-xs" role="group" aria-label="...">
                        <button type="button" class="btn btn-default">@Html.ActionLink("Edit", "Edit", new { id = item.ProductId })</button>
                        <button type="button" class="btn btn-default">@Html.ActionLink("Details", "Details", new { id = item.ProductId })</button>
                        <button type="button" class="btn btn-default">@Html.ActionLink("Delete", "Delete", new { id = item.ProductId })</button>
                        <button type="button" class="btn btn-default">@Html.ActionLink("Connect to Ambience", "Create", "ProductAmbience")</button>
                    </div>
                </td>
            </tr>
        }

    </table>

</body>